:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
	--blue: #0000FF;
	--aqua: #00FFFF;
	--jade: #00A36C;
	--coral: #FF7F50;
	--red: #F88379;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #FFF;
	background-color: var(--darker);
}

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

header h1{ 
	font-size: 2.5rem;
	font-weight: 300;
	color: var(--light);
	margin-bottom: 1rem;
}

#new-goal-form {
	display: flex;;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#new-goal-input {
	flex: 1 1 0%;
	background-color: var(--darkest);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--light);
	font-size: 1.25rem;
}

#new-goal-input::placeholder {
	color: var(--grey);
}

#new-goal-submit {
	color: var(--pink);
	font-size: 1.25rem;
	font-weight: 700;
	background-image: linear-gradient(to right, var(--aqua), var(--blue));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
	transition: 0.4s;
}

#new-goal-submit:hover {
	opacity: 0.8;
}

#new-goal-submit:active {
	opacity: 0.6;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.goal-list {
	padding: 1rem;
}

.goal-list h2 {
	font-size: 1.5rem;
	font-weight: 300;
	color: var(--light);
	margin-bottom: 1rem;
}

#goals .goal {
	display: flex;
	justify-content: space-between;
	background-color: var(--darkest);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.goal .content {
	flex: 1 1 0%;
}

.goal .content .text {
	color: var(--light);
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.goal .content .text:not(:read-only) {
	color: var(--pink);
}

.goal .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.goal .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.goal .actions button:hover {
	opacity: 0.8;
}

.goal .actions button:active {
	opacity: 0.6;
}

.goal .actions .edit {
	background-image: linear-gradient(to right, var(--aqua), var(--blue));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.goal .actions .delete {
	color: crimson;
}